.k-5-9-active {
    background: url(./k.png) -0px -0px no-repeat;
    width: 8px;
    height: 24px;
}
.k-5-1-active {
    background: url(./k.png) -8px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-10-active {
    background: url(./k.png) -18px -0px no-repeat;
    width: 8px;
    height: 24px;
}
.k-5-11-active {
    background: url(./k.png) -26px -0px no-repeat;
    width: 13px;
    height: 8px;
}
.k-5-12-active {
    background: url(./k.png) -39px -0px no-repeat;
    width: 13px;
    height: 22px;
}
.k-5-13-active {
    background: url(./k.png) -52px -0px no-repeat;
    width: 13px;
    height: 22px;
}
.k-5-14-active {
    background: url(./k.png) -65px -0px no-repeat;
    width: 12px;
    height: 22px;
}
.k-5-15-active {
    background: url(./k.png) -77px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-16-active {
    background: url(./k.png) -90px -0px no-repeat;
    width: 25px;
    height: 20px;
}
.k-5-17-active {
    background: url(./k.png) -115px -0px no-repeat;
    width: 4px;
    height: 4px;
}
.k-5-18-active {
    background: url(./k.png) -119px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-35-active {
    background: url(./k.png) -129px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-e-1 {
    background: url(./k.png) -139px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-e-3 {
    background: url(./k.png) -149px -0px no-repeat;
    width: 10px;
    height: 18px;
}
.k-e-2 {
    background: url(./k.png) -159px -0px no-repeat;
    width: 10px;
    height: 18px;
}
.k-e-4 {
    background: url(./k.png) -169px -0px no-repeat;
    width: 10px;
    height: 18px;
}
.k-e-5 {
    background: url(./k.png) -179px -0px no-repeat;
    width: 14px;
    height: 14px;
}
.k-e-6 {
    background: url(./k.png) -193px -0px no-repeat;
    width: 16px;
    height: 14px;
}
.k-e-7 {
    background: url(./k.png) -209px -0px no-repeat;
    width: 19px;
    height: 14px;
}
.k-e-8 {
    background: url(./k.png) -228px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-e-9 {
    background: url(./k.png) -241px -0px no-repeat;
    width: 18px;
    height: 12px;
}
.k-e-10 {
    background: url(./k.png) -259px -0px no-repeat;
    width: 22px;
    height: 12px;
}
.k-e-11 {
    background: url(./k.png) -281px -0px no-repeat;
    width: 26px;
    height: 12px;
}
.k-e-12 {
    background: url(./k.png) -307px -0px no-repeat;
    width: 9px;
    height: 19px;
}
.k-e-13 {
    background: url(./k.png) -316px -0px no-repeat;
    width: 9px;
    height: 16px;
}
.k-e-14 {
    background: url(./k.png) -325px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-e-15 {
    background: url(./k.png) -335px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-e-17 {
    background: url(./k.png) -348px -0px no-repeat;
    width: 10px;
    height: 14px;
}
.k-e-16 {
    background: url(./k.png) -358px -0px no-repeat;
    width: 9px;
    height: 14px;
}
.k-e-18 {
    background: url(./k.png) -367px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-e-21 {
    background: url(./k.png) -377px -0px no-repeat;
    width: 12px;
    height: 2px;
}
.k-e-22 {
    background: url(./k.png) -389px -0px no-repeat;
    width: 8px;
    height: 21px;
}
.k-e-23 {
    background: url(./k.png) -397px -0px no-repeat;
    width: 10px;
    height: 21px;
}
.k-e-24 {
    background: url(./k.png) -407px -0px no-repeat;
    width: 8px;
    height: 20px;
}
.k-e-26 {
    background: url(./k.png) -415px -0px no-repeat;
    width: 14px;
    height: 12px;
}
.k-e-25 {
    background: url(./k.png) -429px -0px no-repeat;
    width: 12px;
    height: 12px;
}
.k-e-19 {
    background: url(./k.png) -441px -0px no-repeat;
    width: 12px;
    height: 11px;
}
.k-e-20 {
    background: url(./k.png) -453px -0px no-repeat;
    width: 4px;
    height: 4px;
}
.k-e-28 {
    background: url(./k.png) -457px -0px no-repeat;
    width: 13px;
    height: 19px;
}
.k-e-27 {
    background: url(./k.png) -470px -0px no-repeat;
    width: 14px;
    height: 14px;
}
.k-e-29 {
    background: url(./k.png) -484px -0px no-repeat;
    width: 14px;
    height: 13px;
}
.k-e-31 {
    background: url(./k.png) -498px -0px no-repeat;
    width: 14px;
    height: 10px;
}
.k-e-32 {
    background: url(./k.png) -512px -0px no-repeat;
    width: 12px;
    height: 12px;
}
.k-e-30 {
    background: url(./k.png) -524px -0px no-repeat;
    width: 14px;
    height: 10px;
}
.k-e-33 {
    background: url(./k.png) -538px -0px no-repeat;
    width: 12px;
    height: 12px;
}
.k-e-34 {
    background: url(./k.png) -550px -0px no-repeat;
    width: 12px;
    height: 12px;
}
.k-e-1-active {
    background: url(./k.png) -562px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-e-2-active {
    background: url(./k.png) -572px -0px no-repeat;
    width: 10px;
    height: 18px;
}
.k-e-4-active {
    background: url(./k.png) -582px -0px no-repeat;
    width: 10px;
    height: 18px;
}
.k-e-3-active {
    background: url(./k.png) -592px -0px no-repeat;
    width: 10px;
    height: 18px;
}
.k-e-5-active {
    background: url(./k.png) -602px -0px no-repeat;
    width: 14px;
    height: 14px;
}
.k-e-6-active {
    background: url(./k.png) -616px -0px no-repeat;
    width: 16px;
    height: 14px;
}
.k-e-7-active {
    background: url(./k.png) -632px -0px no-repeat;
    width: 19px;
    height: 14px;
}
.k-e-8-active {
    background: url(./k.png) -651px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-e-9-active {
    background: url(./k.png) -664px -0px no-repeat;
    width: 18px;
    height: 12px;
}
.k-e-10-active {
    background: url(./k.png) -682px -0px no-repeat;
    width: 22px;
    height: 12px;
}
.k-e-11-active {
    background: url(./k.png) -704px -0px no-repeat;
    width: 26px;
    height: 12px;
}
.k-e-12-active {
    background: url(./k.png) -730px -0px no-repeat;
    width: 9px;
    height: 19px;
}
.k-e-14-active {
    background: url(./k.png) -739px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-e-13-active {
    background: url(./k.png) -749px -0px no-repeat;
    width: 9px;
    height: 16px;
}
.k-e-15-active {
    background: url(./k.png) -758px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-e-16-active {
    background: url(./k.png) -771px -0px no-repeat;
    width: 9px;
    height: 14px;
}
.k-e-17-active {
    background: url(./k.png) -780px -0px no-repeat;
    width: 10px;
    height: 14px;
}
.k-5-1 {
    background: url(./k.png) -790px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-2 {
    background: url(./k.png) -800px -0px no-repeat;
    width: 15px;
    height: 14px;
}
.k-5-3 {
    background: url(./k.png) -815px -0px no-repeat;
    width: 14px;
    height: 20px;
}
.k-5-4 {
    background: url(./k.png) -829px -0px no-repeat;
    width: 14px;
    height: 20px;
}
.k-5-5 {
    background: url(./k.png) -843px -0px no-repeat;
    width: 7px;
    height: 20px;
}
.k-5-7 {
    background: url(./k.png) -850px -0px no-repeat;
    width: 8px;
    height: 21px;
}
.k-5-6 {
    background: url(./k.png) -858px -0px no-repeat;
    width: 10px;
    height: 21px;
}
.k-5-8 {
    background: url(./k.png) -868px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-9 {
    background: url(./k.png) -881px -0px no-repeat;
    width: 8px;
    height: 24px;
}
.k-5-10 {
    background: url(./k.png) -889px -0px no-repeat;
    width: 8px;
    height: 24px;
}
.k-5-11 {
    background: url(./k.png) -897px -0px no-repeat;
    width: 13px;
    height: 8px;
}
.k-5-12 {
    background: url(./k.png) -910px -0px no-repeat;
    width: 13px;
    height: 22px;
}
.k-5-13 {
    background: url(./k.png) -923px -0px no-repeat;
    width: 13px;
    height: 22px;
}
.k-5-14 {
    background: url(./k.png) -936px -0px no-repeat;
    width: 12px;
    height: 22px;
}
.k-5-15 {
    background: url(./k.png) -948px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-16 {
    background: url(./k.png) -961px -0px no-repeat;
    width: 25px;
    height: 20px;
}
.k-5-17 {
    background: url(./k.png) -986px -0px no-repeat;
    width: 4px;
    height: 4px;
}
.k-5-18 {
    background: url(./k.png) -990px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-19 {
    background: url(./k.png) -1000px -0px no-repeat;
    width: 14px;
    height: 10px;
}
.k-5-20 {
    background: url(./k.png) -1014px -0px no-repeat;
    width: 14px;
    height: 10px;
}
.k-5-21 {
    background: url(./k.png) -1028px -0px no-repeat;
    width: 14px;
    height: 10px;
}
.k-5-22 {
    background: url(./k.png) -1042px -0px no-repeat;
    width: 12px;
    height: 10px;
}
.k-5-23 {
    background: url(./k.png) -1054px -0px no-repeat;
    width: 4px;
    height: 4px;
}
.k-5-24 {
    background: url(./k.png) -1058px -0px no-repeat;
    width: 12px;
    height: 2px;
}
.k-5-25 {
    background: url(./k.png) -1070px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-26 {
    background: url(./k.png) -1083px -0px no-repeat;
    width: 20px;
    height: 21px;
}
.k-5-26 {
    background: url(./k-5-26.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 21px;
}
.k-5-27 {
    background: url(./k.png) -1103px -0px no-repeat;
    width: 20px;
    height: 21px;
}
.k-5-30 {
    background: url(./k.png) -1123px -0px no-repeat;
    width: 9px;
    height: 22px;
}
.k-5-29 {
    background: url(./k.png) -1132px -0px no-repeat;
    width: 8px;
    height: 21px;
}
.k-5-31 {
    background: url(./k.png) -1140px -0px no-repeat;
    width: 9px;
    height: 21px;
}
/* .k-5-28 {
    background: url(./k.png) -1149px -0px no-repeat;
    width: 19px;
    height: 20px;
} */
.k-5-28 {
    background-image: url(./k-5-28.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 23px;
    height: 21px;
}
.k-5-32 {
    background: url(./k.png) -1168px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-33 {
    background: url(./k.png) -1181px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-34 {
    background: url(./k.png) -1194px -0px no-repeat;
    width: 9px;
    height: 4px;
}
.k-5-35 {
    background: url(./k.png) -1203px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-36 {
    background: url(./k.png) -1213px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-37 {
    background: url(./k.png) -1223px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-38 {
    background: url(./k.png) -1233px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-39 {
    background: url(./k.png) -1243px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-40 {
    background: url(./k.png) -1253px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-41 {
    background: url(./k.png) -1263px -0px no-repeat;
    width: 10px;
    height: 15px;
}
.k-5-42 {
    background: url(./k.png) -1273px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-43 {
    background: url(./k.png) -1286px -0px no-repeat;
    width: 10px;
    height: 23px;
}
.k-5-44 {
    background: url(./k.png) -1296px -0px no-repeat;
    width: 10px;
    height: 23px;
}
.k-5-45 {
    background: url(./k.png) -1306px -0px no-repeat;
    width: 10px;
    height: 23px;
}
.k-5-46 {
    background: url(./k.png) -1316px -0px no-repeat;
    width: 14px;
    height: 20px;
}
.k-5-47 {
    background: url(./k.png) -1330px -0px no-repeat;
    width: 12px;
    height: 18px;
}
.k-5-48 {
    background: url(./k.png) -1342px -0px no-repeat;
    width: 8px;
    height: 20px;
}
.k-5-49 {
    background: url(./k.png) -1350px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-50 {
    background: url(./k.png) -1363px -0px no-repeat;
    width: 13px;
    height: 12px;
}
.k-5-51 {
    background: url(./k.png) -1376px -0px no-repeat;
    width: 13px;
    height: 20px;
}
