/* edit.css - file used in the abc2svg editor */
@page {margin-top: 1cm; margin-left: 0cm; margin-right: 0cm}
text tspan {white-space:pre; fill:currentColor}
svg {display:block}
.abcr {fill: #0E518F; fill-opacity: 0; z-index: 15}
.box {
    outline: 1px solid black;
    outline-offset: 1px;
}
.gradient-text-one{  
    background-image:-webkit-linear-gradient(bottom,#0E518F,#fd8403,yellow); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
}
rect.abcr.selected_text[type="bar"] {
	fill: none;
}
/* TODO 选中音符样式 */
/* ._select-note:not([type="beam"]) {
	fill: #0E518F;
	color: #0E518F;
	stroke: #0E518F;
}
._select-note[type="note"] {
	stroke: none;
} */
.editor_rect{
	fill: #0E518F;
	fill-opacity: 0.4 !important;
}
.selected_text{
	fill: #0E518F;
}
.selected_path{
	stroke:#0E518F !important;
}
@media screen {
	body, html {height: 90%}
	/*text, path {pointer-events: none}*/
	#dleft {
		width: auto;
		position: absolute; top: 0; bottom:0; left: 0;
		background-color:#faf0e6;
		overflow: auto;
	}
	#nav {
		position:relative;
		padding: 0;
		margin: 2px 0 0 2px;
	}
	.dropbutton {
		float: left;
		display:inline-block;
		width: 90px;
		text-align: center;
	}
	.dropbutton:hover { outline: solid; outline-width: 2px }
	.dropbutton:hover > ul { display: block }
	.droplinks {
		list-style-type: none;
		position: absolute;
		min-width: 80px;
		background-color: #e0e0e0;
		display: none;
		z-index: 20;
		text-align: left;
		padding: 0;
		margin: 0;
	}
	.droplinks li:hover { outline: solid; outline-width: 2px }
	.droplinks li { padding: 0 5px 0 5px; margin: 2px }
	#dright {
		width: 80%;
		max-width: 800px;
		position: absolute; top: 0; bottom:0; right:0;
		background-color: white;
		overflow: auto
	}
	#dright:hover {z-index: 10 !important}
	#dright:active {z-index: 10 !important}
	.popup {
		position: absolute; top: 0; right: 20px;
		padding: 10px;
		background-color:#e0e0e0;
		border-radius: 5px;
		visibility: hidden;
		z-index:20;
	}
	.close {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 20px;
		font-weight: bold;
		color: #0E518F;
	}
	#abckbd td {
		border: 1px solid black;
		padding: 0.5rem;
		text-align: center;
	}
	#ctxMenu {
		position:absolute;
		display:none;
		left:0px;
		top:0px;
		padding:0;
		margin:0;
		border:1px solid;
		background-color:white;
		font-weight:normal;
		white-space:nowrap;
		z-index:100;
	}
	#ctxMenu:hover > .droplinks {
		display:block;
	}
	
}
@media print {
	#dleft, .popup { display: none }
	body {
		margin:0; padding:0; border:0;
		background-color: white;
	}
	#dright { margin:0; padding:0; border:0 }
	.newpage { page-break-before: always }
	.nobrk { page-break-inside: avoid }
}
@page{margin:0}
.lyric{
	font-size: 0 !important;
}
.lyric tspan{
	font-size: 13px;
}
		
/* */		
.hx3,.hx3-46,.hx3-6, .hx7,.hx7-56,.hx7-34,.hx7-2 {
	position: relative;
	font-size: 18px;
	font-weight: 10;
	display: inline-block;
	margin-right: 20px;
 }
 /* */
 .hx3-46:BEFORE {
	content: '6';
	position: absolute;
	font-size: .4em;
	top: -.5em;
	right:  -.8em;
}
 .hx3-46:AFTER {
	content: '4';
	position: absolute;
	font-size: .4em;
	bottom: -.5em;
	right:  -.8em;
}
 /* */
 .hx3-6:AFTER {
	content: '6';
	position: absolute;
	font-size: .4em;
	bottom: -.5em;
	right:  -.8em;
}
 /* */
 .hx7:AFTER {
	content: '7';
	position: absolute;
	font-size: .4em;
	bottom: -.5em;
	right:  -.8em;
}
 /* */
 .hx7-56:BEFORE {
	content: '6';
	position: absolute;
	font-size: .4em;
	top: -.5em;
	right:  -.8em;
}
 .hx7-56:AFTER {
	content: '5';
	position: absolute;
	font-size: .4em;
	bottom: -.5em;
	right:  -.8em;
}
 /* */
 .hx7-34:BEFORE {
	content: '4';
	position: absolute;
	font-size: .4em;
	top: -.5em;
	right:  -.8em;
}
 .hx7-34:AFTER {
	content: '3';
	position: absolute;
	font-size: .4em;
	bottom: -.5em;
	right:  -.8em;
}
 /* */
 .hx7-2:AFTER {
	content: '2';
	position: absolute;
	font-size: .4em;
	bottom: -.5em;
	right:  -.8em;
}
/* */
.hx-sub{
	font-size: .4em;
    transform: translateY(0.5em) scale(0.8);
    display: inline-block;
}
/* */
.hx-up{
    font-size: .4em;
    transform: translateY(-0.5em) scale(0.8);
    display: inline-block;
}
/* end*/		


/*  */
.js-click{
	cursor: pointer;
}

.js-click.active{
	color: #FF9000;
	background-color: #fff;
	border: 1px solid #FF9000 !important;
}
 .panel-name .panel-name-item{
 	padding: 5px 8px;
 	border-radius: 5px;
 	border: 1px solid transparent;
 }