.i-addBar {
  background: url(./icons.png) -0px -0px no-repeat;
  width: 30px;
  height: 22px;
}
.i-delBar {
  background: url(./icons.png) -30px -0px no-repeat;
  width: 30px;
  height: 22px;
}
.i-insert {
  background: url(./icons.png) -60px -0px no-repeat;
  width: 20px;
  height: 20px;
}
.i-note-down {
  background: url(./icons.png) -80px -0px no-repeat;
  width: 8px;
  height: 23px;
}
.i-note-up {
  background: url(./icons.png) -88px -0px no-repeat;
  width: 8px;
  height: 23px;
}
.i-recover {
  background: url(./icons.png) -96px -0px no-repeat;
  width: 25px;
  height: 18px;
}
.i-save {
  background: url(./icons.png) -121px -0px no-repeat;
  width: 18px;
  height: 21px;
}
.i-withdraw {
  background: url(./icons.png) -139px -0px no-repeat;
  width: 25px;
  height: 18px;
}
.i-rhythm {
  background: url(./icons.png) -164px -0px no-repeat;
  width: 18px;
  height: 22px;
}
.i-play {
  background: url(./icons.png) -182px -0px no-repeat;
  width: 21px;
  height: 21px;
}
.i-play-restar {
  background: url(./icons.png) -203px -0px no-repeat;
  width: 19px;
  height: 21px;
}
